<!DOCTYPE html>
<html>
<head>
  <title>GmapsAjax</title>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt8ElnTLYuNIxgJmi4bz1Yj4IrBYEAQNk&sensor=true">
    </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
